In [51]:
import pandas as pd
# import numpy as np
import csv
from scipy.stats import pearsonr

In [24]:
df_2015 = pd.read_csv("../cleaned_data/2015.csv")
df_2016 = pd.read_csv("../cleaned_data/2016.csv")
df_2017 = pd.read_csv("../cleaned_data/2017.csv")
df_2018 = pd.read_csv("../cleaned_data/2018.csv")
df_2019 = pd.read_csv("../cleaned_data/2019.csv")
df_2015.head()

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Afghanistan,Southern Asia,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [40]:
# happiness = df_2015["Happiness_Score"]
# economy = df_2015["Economy"]

# corr, _ = pearsonr(happiness, economy)
# corr

year = 2015


col1 = df_2015.iloc[:,3]
col2 = df_2015.iloc[:,4]

corr, _ = pearsonr(col1, col2)
corr

year += 1

corr

0.7809655268660214

In [49]:
num_cols = df_2015.index.values
num_cols

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157])

In [42]:
test = []
test.append(corr)
test

[0.7809655268660214]

In [53]:
headers = []

# Read input file
with open("../cleaned_data/2015.csv") as csv_input:
    reader = csv.reader(csv_input, delimiter=',')

    #Skip header
    next(reader)

    # Total votes and make a list of candidates
    for row in reader:
        headers.append(row[3])
        
headers

['3.575',
 '4.959',
 '5.605',
 '4.033',
 '6.574',
 '4.35',
 '7.284',
 '7.2',
 '5.212',
 '5.96',
 '4.694',
 '5.813',
 '6.937',
 '3.34',
 '5.253',
 '5.89',
 '4.949',
 '4.332',
 '6.983',
 '4.218',
 '3.587',
 '2.905',
 '3.819',
 '4.252',
 '7.427',
 '3.678',
 '3.667',
 '6.67',
 '5.14',
 '6.477',
 '3.956',
 '3.989',
 '4.517',
 '7.226',
 '5.759',
 '5.689',
 '6.505',
 '7.527',
 '4.369',
 '4.885',
 '5.975',
 '4.194',
 '6.13',
 '5.429',
 '4.512',
 '7.406',
 '6.575',
 '3.896',
 '4.297',
 '6.75',
 '4.633',
 '4.857',
 '6.123',
 '3.656',
 '4.518',
 '4.788',
 '5.474',
 '4.8',
 '7.561',
 '4.565',
 '5.399',
 '4.686',
 '4.677',
 '6.94',
 '7.278',
 '5.948',
 '3.655',
 '5.709',
 '5.987',
 '5.192',
 '5.855',
 '4.419',
 '5.589',
 '6.295',
 '5.286',
 '4.876',
 '5.098',
 '4.839',
 '4.898',
 '4.571',
 '5.754',
 '5.833',
 '6.946',
 '5.007',
 '3.681',
 '4.292',
 '5.77',
 '3.995',
 '6.302',
 '4.436',
 '5.477',
 '7.187',
 '5.889',
 '4.874',
 '5.192',
 '5.013',
 '4.971',
 '4.307',
 '4.514',
 '7.378',
 '7.286',
 '5.828',
 '3.845',
 '5.268',
 '5.695',
 '7.522',
 '6.853',
 '5.194',
 '4.715',
 '6.786',
 '5.878',
 '5.824',
 '5.073',
 '5.791',
 '5.102',
 '6.611',
 '5.124',
 '5.716',
 '3.465',
 '6.411',
 '3.904',
 '5.123',
 '4.507',
 '6.798',
 '5.995',
 '5.848',
 '5.057',
 '4.642',
 '5.984',
 '6.329',
 '4.271',
 '4.55',
 '6.269',
 '4.867',
 '7.364',
 '7.587',
 '3.006',
 '6.298',
 '4.786',
 '3.781',
 '6.455',
 '2.839',
 '6.168',
 '4.739',
 '5.332',
 '5.548',
 '3.931',
 '4.681',
 '6.901',
 '6.867',
 '7.119',
 '6.485',
 '6.003',
 '6.81',
 '5.36',
 '4.077',
 '5.129',
 '4.61']

In [ ]:
# test.to_csv("correlations_2015.csv", index=False, header=False)